body {
  font-family: sans-serif;
  color: #333;
}

fieldset {
  margin-bottom: 1rem;
}

legend {
  font-size: 1rem;
}

code {
  font-family: monospace;
  font-weight: bold;
  font-size: 1.2em;
}

.bad {
  font-weight: bold;
  color: red;
}

.ok {
  font-weight: bold;
  color: green;
}

.micro {
  color: blue;
}
.macro {
  color: orange;
}

.bg-green {
  background: green;
}

table {
  text-align: center;
  border-collapse: collapse;
  margin-bottom: 1rem;
}
